/* Breakpoints (Bootstrap) */
$screen-xs-max: 767;
$screen-sm-min: 768;
$screen-sm-max: 991;
$screen-md-min: 992;
$screen-md-max: 1199;
$screen-lg-min: 1200;

/* Breakpoints (Font Sizing) */
$screen-font-xs: 375;

$screen-font-sm-min: 376;
$screen-font-sm-max: 767;

$screen-font-md-min: 768;
$screen-font-md-max: 1449;

$screen-font-lg-min: 1450;
$screen-font-lg-max: 1749;

$screen-font-xl: 1750;

/* Base Elements */
$body-background: white;
$body-text: #323232;

$base-link: #ee3282;
$base-link-hover: #a4225a;

$base-width-generic: 728px;


/*  */

