<header>
    <section>
        <div class="inner-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-xs-12">


                    </div>
                </div>
            </div>
        </div>
    </section>
</header>

<section class="request-response">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12">

                <div class="inner-container">
                    <i class="icon-error icons"></i>
                    <p><span class="bold"></span><span class="msg"></span></p>
                    <i class="icon-delete icons"></i>
                </div>

            </div>
        </div>
    </div>
</section>

<main>

    <p class="loading-msg">Loading products please wait ...</p>

</main>
