<header>
    <section>
        <div class="inner-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-xs-12">

                        <div class="table">
                            <div class="t-cell">
                                <a href="#" class="btn-header-logo"><span></span></a>
                            </div>
                            <div class="t-cell">
                                <h1>Spirit <span>Portal</span></h1>
                            </div>
                            <div class="t-cell">
                                <nav class="type-menu links-style">
                                    <ul>
                                        <li><a href="#" class="btn-s-link btn-newportal">Start New Portal</a></li>
                                        <li><a href="#" class="btn-s-link btn-logout">Log Out</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</header>

<section class="menu-flow">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <nav class="type-menu">
                    <ul>
                        <li class="item-page-products">
                            <a href="#products">
                                <span class="graphic">
                                    <img src="/Content/img/graphic-products.png">
                                </span>
                                <span class="txt">Product Selection</span>
                            </a>
                        </li>
                        <li class="item-page-team">
                            <a href="#team">
                                <span class="graphic">
                                    <img src="/Content/img/graphic-team.png">
                                </span>
                                <span class="txt">Team Info</span>
                            </a>
                        </li>
                        <li class="item-page-attributes">
                            <a href="#attributes">
                                <span class="graphic">
                                    <img src="/Content/img/graphic-attributes.png">
                                </span>
                                <span class="txt">Attributes</span>
                            </a>
                        </li>
                    </ul>
                    <div class="line"></div>
                </nav>
            </div>
        </div>
    </div>
</section>

<section class="request-response">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12">

                <div class="inner-container">
                    <i class="icon-error icons"></i>
                    <p><span class="bold"></span><span class="msg"></span></p>
                    <i class="icon-delete icons"></i>
                </div>

            </div>
        </div>
    </div>
</section>

<main>

    <p class="loading-msg">Loading products please wait ...</p>

</main>

